* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #e8eef1;
}

.intro {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro h1 {
  font-size: 5.5rem;
  font-family: "Architects Daughter", cursive;
  margin: 5% 0 2% 0;
  letter-spacing: 0.3rem;
}

.intro p {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  font-weight: bold;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% auto;
}

button {
  padding: 10px;
  margin: 10px;
  border: none;
  font-size: 1.4em;
  cursor: pointer;
}

canvas {
  text-align: center;
}

#alphabet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 35%;
  margin: 0 auto;
}

#alphabet li {
  list-style: none;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

#alphabet li:hover {
  background-color: #4b4e53;
  opacity: 55%;
}

#hold {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.guess {
  color: black;
  font-size: 2.5rem;
  list-style: none;
  margin: 1rem;
  display: inline-block;
}

/**** MEDIA QUERIES ****/
